/* @import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700&family=Kaushan+Script&family=Lora:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap"); */

body {
  font-family: "Montserrat", serif;
}

.hero {
  background: #b0daff;
}

.text-justify {
  text-align: justify;
}

.font-size-4 {
  font-size: 4rem;
}

.font-size-3 {
  font-size: 3rem;
}

.wedding-font {
  font-family: "Kaushan Script", cursive;
}

.sans-font {
  font-family: "Montserrat", sans-serif;
}

.serif-font {
  font-family: "Lora", serif;
}

.mono-font {
  font-family: "Inconsolata", monospace;
}
