body {
  font-family: "Jost", serif;
}

.fnb:before {
  content: "";
  position: absolute;
  height: 100%;
  overflow: hidden;
  opacity: 0.3;
  background: url(/invitation/assets/bg.jpg) no-repeat center center;
  background-size: contain;
}

.bg-fnb {
  background: #b0daff;
}

.text-fnb {
  /* color: #3f3244; */
  color: #1f305e;
}

.text-justify {
  text-align: justify;
}

.font-size-4 {
  font-size: 4rem;
}

.font-size-3 {
  font-size: 3rem;
}

.wedding-font {
  font-family: "Great Vibes", cursive;
}

.sans-font {
  font-family: "Jost", sans-serif;
}

.serif-font {
  font-family: "Lora", serif;
}

.mono-font {
  font-family: "Inconsolata", monospace;
}
